.bg-container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Welcome-heading {
  font-family: 'Bree Serif';
  font-size: 60px;
  color: #f0bb03;
}
.paragraph {
  font-family: 'Bree Serif';
  font-size: 26px;
  color: #ffffff;
}
.subscribe-button {
  padding: 10px 20px 10px 20px;
  font-family: 'Bree Serif';
  cursor: pointer;
  outline: none;
}
